[2014-10-10 16:15] knownasilya opened #2 "Figure out a way to only serve partial css"
So only the themes that the user wants.

Ideas @rwjblue? Is it possible to configure in the Brocfile, and only import what's set, e.g.

[code]

[2014-10-10 19:18] knownasilya opened #3 "Add sizes"
- small
- medium
- large

default: medium

And use a `.x-toggle.small` pattern for classes.

[2014-10-10 19:59] #2 closed, assigned to nobody

[2014-10-17 12:17] #3 closed, assigned to nobody

[2014-12-24 15:09] yankeeinlondon opened #4 "Blank with IOS7 and Flat"
Love the underlying choice of toggle buttons but unfortunately it isn't working for me in Ember with the _ios7_ or _flat_ themes. My configuration in the CLI's environment file is as follows:

[code]

  };

This results in no Javascript errors and the view code is rendered but it displays nothing. It appears that the _light_ and _default_ themes **do** work though.

[2014-12-24 15:52] #4 closed, assigned to nobody

[2015-01-19 12:34] dezudas opened #9 "how to disable switch?"
How can I disable the switch, for the user who don't have the edit access.

[2015-01-19 13:15] knownasilya commented on #9
@dezudas not currently supported, but I'll see what I can do :+1:  Thanks!

[2015-01-19 18:00] knownasilya commented on #9
Added https://github.com/knownasilya/ember-cli-toggle/releases/tag/v0.5.0

[2015-01-19 18:00] #9 closed

[2015-01-20 08:39] dezudas commented on #9
Thanks @knownasilya  that was great help

[2015-02-12 16:10] sir-dunxalot opened #10 "Disabled class should be set on container"
Thanks for the great addon!

If you add 'on' and 'off' text to a toggle and set the toggle to disabled there is not way to style the text without reopening the `x-toggle` component. This is because the `.x-toggle-disabled` class is set on the toggle not the container.

I'd expect a class on the container like `.x-toggle-container-disabled`.

[2015-02-12 16:12] knownasilya commented on #10
Would take a PR addressing this issue, since I'm busy this week. Otherwise I'll look into it next week.

[2015-02-12 16:13] sir-dunxalot commented on #10
Thanks for the quick response. I'll get a PR up in the next 5-10 mins then.

[2015-02-12 16:22] sir-dunxalot commented on #10
[PR up](https://github.com/knownasilya/ember-cli-toggle/pull/11)

[2015-02-12 16:47] sir-dunxalot commented on #10
#12

[2015-02-12 16:50] #10 closed

[2015-02-12 16:50] knownasilya commented on #10
Published as of fe9c80cfc60ce289dc28f6a74123ee6132a9e5d3

[2015-02-12 19:15] knownasilya opened #15 "Write tests"
* [x] Run tests against other versions of ember
* [ ] Test component
  * [x] checking
  * [ ] disabling
  * [ ] actions

[2015-02-18 01:07] sir-dunxalot opened #17 "Documentation-functionality conflict"
The documentation says that adding `off` and `on` to a toggle should not change the value of a bound property unless you 'overload' the label/value:

Thus, it is expected that `controller.toggled` is a boolean value equal to true or false in the following situation:

[code]

However, in v0.1.15 of ember-cli-toggle, `controller.toggled` is always equal to `Ho` or `Hey` when it *should* be equal to

[2015-02-26 09:09] suddhas opened #18 "Demo"
Hi team,

Please provide a demo link so that we can find out the proper stylesheet.

[2015-02-26 13:54] knownasilya commented on #18
Demo is linked at the top of the page, e.g. http://knownasilya.github.io/ember-cli-toggle/

[2015-02-26 13:54] #18 closed

[2015-02-26 13:56] knownasilya commented on #18
I also added a more obvious demo link to the readme.

[2015-03-19 09:11] iUtvikler opened #19 "Changes value on insert.."
I have this in my template:

[code]

Which is bound to this:

[code]

But when the page is rendered the value of item is set to false

[2015-03-19 09:54] iUtvikler commented on #19
I used toggled instead and that worked.. My bad..

[2015-03-19 09:54] #19 closed

[2015-03-19 12:37] iUtvikler opened #20 "prevent event bubbling"
I tried using this inside a link-to. But when i click the switch the link-to event is sent and the switch event is cancelled.

[2015-03-19 12:44] knownasilya commented on #19
`{{x-toggle toggled=item.enabled}}` ?

[2015-03-19 12:46] iUtvikler commented on #19
@knownasilya yes!

[2015-03-19 13:08] knownasilya commented on #20
Fixed in 0.5.3

[2015-03-19 13:08] #20 closed

[2015-03-19 13:10] iUtvikler commented on #20
Thanks!

[2015-03-19 13:10] knownasilya opened #21 "Upgrade to ember-cli 0.2.0"

[2015-03-20 01:39] e-karma opened #22 "Uncaught TypeError: Cannot read property 'defaultTheme' of undefined"
Thanks for making this!  Having trouble getting it to work in canary and ecli 0.2.0 stock new app

installed with npm install --save-dev ember-cli-toggle

All suggested inputs provided the subject error
{{x-toggle toggle='startCar'}}
{{x-toggle theme='light' toggle='enableLayer'}}
{{x-toggle theme='ios' size='small' toggle='muteVolume'}}
{{x-toggle theme='flat' toggle='disableTest'}}
{{x-toggle th

[2015-03-20 12:42] knownasilya commented on #22
@e-karma can you provide a stack trace?

[2015-03-31 21:22] #21 closed

[2015-03-31 21:23] knownasilya commented on #22
@e-karma give it another try with 0.5.4, I updated to latest ecli.

[2015-04-01 13:50] knownasilya commented on #17
This is fixed in v0.5.5

[2015-04-01 13:50] #17 closed

[2015-04-01 13:52] sir-dunxalot commented on #17
Great, thank you.

[2015-04-27 23:24] pzuraq commented on #22
Had the same issue, you need to add a `ember-cli-toggle` object to your environment config:

[code]

Should probably guard against this.

[2015-04-28 00:24] knownasilya commented on #22
@pzuraq good catch.

[2015-04-28 12:52] #22 closed

[2015-05-04 01:59] BryanCrotaz opened #23 "Ember.run.debounce isn't cancelled when component is destroyed"
This leads to error "calling set on destroyed object" during application level tests when view is destroyed before debounce timer completes

[2015-05-21 08:41] pierrickrouxel opened #24 "Do not trigger the toggle action at initialization"
The component triggers the `toggle` action at initialization.
I think that isn't a good idea because at this time the position isn't defined by user.

If I want to persist my model directly when the `toggle` action is triggered, I should test if value is different with previous to know if it's well the user who has triggered it.

[2015-06-02 17:48] #23 closed

[2015-06-04 16:42] hoetmaaiers opened #25 "Uncaught Error: Computed Property declared without a property function"
I keep getting this error whenever I add `{{x-toggle}}` to my template. Doesn't matter what options I provide it. Has this anything to do with the new computed property syntax?

Any advice?

[2015-06-04 17:37] knownasilya commented on #25
Yes it does. I could revert that commit.

[2015-06-04 19:38] hoetmaaiers commented on #25
Do you think thia commit causes my issue?

[2015-06-04 19:48] knownasilya commented on #25
What version of Ember are you using?

[2015-06-04 22:04] hoetmaaiers commented on #25
I'm using 1.10.0.

[2015-06-04 22:13] knownasilya commented on #25
Yeah that would do it. I'll make the change later tonight.

[2015-06-04 22:19] knownasilya commented on #25
Give 0.5.8 a try.

[2015-06-04 22:19] #25 closed

[2015-06-05 06:54] hoetmaaiers commented on #25
Yep, this solves my issue, thank you.

[2015-06-09 21:24] gzurbach commented on #19
What's the difference between `toggled` and `value`? I tried both but only `toggled` behaves the way I wat. I was assuming that `toggled` would be the initial state and `value` the binding, but it seems like `toggled` also binds to my property...

[2015-06-10 13:25] knownasilya commented on #19
Currently this is hairy, and I plan to rewrite some of this once Ember 2.0 lands, so a major bump would happen here.

[2015-06-10 22:47] gzurbach commented on #24
+1
Maybe a good solution consist in using one-way binding for the state and use actions only to toggle the state. Data down, actions up!

[2015-06-10 23:53] knownasilya commented on #24
@gzurbach yeah that is totally the plan. I'd probably have to release 1.0.

[2015-06-10 23:54] gzurbach commented on #24
In case it helps someone, this simple workaround seems enough:
[code]

[2015-06-10 23:56] gzurbach commented on #24
@knownasilya Perfect. Your addon is awesome btw!

[2015-06-11 00:04] knownasilya commented on #24
Thanks, but it's mainly thanks to the original author of that codepen :+1:

[2015-06-11 12:49] knownasilya commented on #24
@gzurbach I've started the work on this branch: https://github.com/knownasilya/ember-cli-toggle/tree/ddau

Feel free to leave comments. I'm felling like the labels are overkill, I wonder how many people use them..

[2015-06-11 15:31] gzurbach commented on #24
This looks promising! I agree for the label, and it's mostly a styling issue: users will want to use their own css classes and layout in most cases so they won't use that feature anyways. That said, I think it is important that users can pass an id that will be set on the checkbox so clicking on the label will toggle the button.

[2015-06-11 15:37] knownasilya commented on #24
Totally on board.

[2015-06-11 15:40] knownasilya opened #26 "Support handling label for"
Able to set id on the checkbox input, which can also be used with the label:

[code]

[2015-06-11 21:02] knownasilya commented on #26
Looks like I already have this, just set `forId`.

[2015-06-11 21:02] #26 closed

[2015-06-11 21:02] knownasilya commented on #24
Looks like I already support that, just set `forId`.

[2015-06-11 21:24] gzurbach commented on #24
I didn't even notice ha! Well :ship: it then!

[2015-06-16 11:35] ksnyde opened #28 "Base toggle not using boolean values"
I would have assumed unless you used the `on` or `off` computed properties that the value of the control would be a boolean true/false but instead I'm getting the capitalized text "True" and "False" for the bound value.

[2015-06-16 11:37] ksnyde commented on #28
In the mean time, setting the `on` and `off` properties doesn't seem to work either:

![image](https://cloud.githubusercontent.com/assets/980757/8182155/6bb2a874-1424-11e5-9065-a4539ef865da.png)

[2015-06-16 12:13] ksnyde commented on #28
Was going to send you a PR but was having problems with getting you addon running locally (CSP problem of some sort). Anyway above if you just had something like:

     const {on,off} = this.getProperties('on','off')
     const onState = Ember.typeOf(on) === 'string' ? on.split(':')[0] : on;
     const offState = Ember.typeOf(off) === 'string' ? off.split(':')[0] : off;

[2015-06-16 16:08] knownasilya commented on #28
Thanks for the issue & the PR. Still working on converting to the new API so some errors will be trailing around for a bit (need to write tests).

[2015-06-16 18:08] ksnyde commented on #28
Good luck. Out of interest, which API are you referring to? Addon API for Ember-CLI? I had thought the only breaking change recently was for authors using CSS preprocessors.

[2015-06-16 19:09] knownasilya commented on #28
No, API of this addon, i.e. data down, actions up.

[2015-06-16 19:11] knownasilya commented on #24
This is resolved in master, with the new API.

[2015-06-16 19:11] #24 closed

[2015-06-16 19:14] pierrickrouxel commented on #24
Thank you !

[2015-06-16 19:17] knownasilya commented on #24
@pierrickrouxel I haven't released to npm yet, so please be my guinea pig :wink:

[2015-06-16 21:05] ksnyde commented on #28
Ok. My feeling is that two-way binding (the good old fashioned way) is appropriate for low level input controls that in turn will be used by components in composition. For larger grained components I see lots of value in DDAU. What do you think?

I guess I mention this because I a toggle control should still retain the two-way binding option. No issue with allowing for an action-up API in addition

[2015-06-22 15:29] pierrickrouxel commented on #24
Hi @knownasilya.

I try the component from master.

[code]

`toggleDisabled` is never triggered.

[2015-06-22 16:56] knownasilya commented on #24
@pierrickrouxel it was changed to 'on-toggle'

[2015-06-22 17:37] pierrickrouxel commented on #24
Why? It's not a common syntax.

[2015-06-22 17:51] knownasilya commented on #24
Should it be `ontoggle`, which is more common, since it's used in the DOM events API.

[2015-06-22 19:25] pierrickrouxel commented on #24
In my opinion `toggleˋ was more compliant with ember. By example the default action is ˋaction`, not ˋonaction` no?

[2015-06-22 19:43] knownasilya commented on #24
Yeah, but that is changing as `<input type="text" onchange=(action 'updateName')>` becomes possible with 2.0 (1.13?).

[2015-06-22 20:12] pierrickrouxel commented on #24
Okay! I read the RFC ˋon-toggle` seems to be good :). Sorry.

[2015-07-15 22:25] bdvholmes opened #30 "Theme css files not being pulled in"
I have just started using ember-cli-toggle and I'm finding the css theme files are not getting compiled. If I copy and paste those files into base.css it works.

[2015-07-16 00:00] knownasilya commented on #30
Did you specify the theme in the config?

[2015-07-16 00:43] bdvholmes commented on #30
No I didn't touch environment variables. Is that required for install?

[2015-07-16 01:19] knownasilya commented on #30
The 'default' theme is imported by default, other themes have to be specified in the config.

[2015-07-16 01:27] bdvholmes commented on #30
I could be wrong but I don't believe I was even getting the default themes.

[2015-07-20 21:58] brandonjmckay opened #33 "A helper named 'x-toggle' could not be found"
I can't use the component as it seems to make the page fail with `A helper named 'x-toggle' could not be found`.

I can add a stack trace if needed. I ran `rm -rf node_modules bower_components`, then re-ran `npm install && bower install`.

I'm on Ember 1.13.5, EmberData 1.13.5.

[2015-07-20 23:38] knownasilya commented on #33
What version of Ember-CLI?

[2015-07-21 00:57] knownasilya commented on #33
Give the latest version a try please. Thanks.

[2015-07-21 00:57] knownasilya commented on #30
Should be fixed in latest version.

[2015-07-21 00:57] #30 closed

[2015-07-21 00:58] bdvholmes commented on #30
Awesome thanks.

[2015-07-21 15:19] awwester commented on #33
@brandonjmckay I'm on 1.13.5/1.13.5 of ember and ember-data and worked for me seamlessly on ember-cli 1.13.1

[2015-07-21 15:41] knownasilya commented on #33
@awwester you tried the latest version or the one before that?

[2015-07-21 16:01] awwester opened #34 "Issue setting controller value"
The value on my controller isn't being toggled or bound when changing the switch.

the code I think should work according to the README is `{{x-toggle toggle='onlineOnly' theme='flip' off='All' on='Online'}}`, but the value is not being updated on my controller. Going through the demo and other issues, I've seen other ways such as `toggled=onlineOnly`, `value=onlineOnly`, but none of these seem to

[2015-07-21 16:42] knownasilya commented on #34
Give the latest version a try, it should work.

I accidentally pushed the 1.0 API changes under 0.5.9. I've setup the `0.x` branch which will have the 0.x changes and master will go forward as 1.0.

[2015-07-21 16:59] brandonjmckay commented on #33
I'll double check which version of cli it is.

[2015-07-21 20:22] awwester commented on #34
thanks, 0.5.11 works.

[2015-07-21 20:22] #34 closed

[2015-07-21 20:34] awwester commented on #33
@knownasilya Nope, I have only just picked up this package today and have only used this version set

[2015-07-21 23:51] knownasilya commented on #33
I just released a new version, give that a try.

[2015-07-23 18:46] brandonjmckay commented on #33
Will do.

[2015-07-28 21:28] gte451f commented on #33
Hi Ilya,
I'm running into the same problem.  I thought perhaps updating the package version & rebuilding my project would help:
package.json....
[code]

followed by....
[code]
Didn't seem to make a difference.

[2015-07-28 21:57] dgavey commented on #33
Us as well.  We are on Ember CLI 0.2.7 and have been using version 0.5.6 up to 0.5.8 however 0.5.9 and up gives us the same error as above.

[2015-07-28 23:11] knownasilya commented on #33
0.5.9-0.5.10 were bad releases. Does 0.5.11 work for anyone?

[2015-07-29 00:10] sir-dunxalot commented on #33
I just upgraded to `0.5.11` and an seeing the same issue. Ember `1.13.5`.

[2015-07-29 12:23] gte451f commented on #33
0.5.11 exhibits this error on my apps using the latest ember CLI release

[2015-07-29 13:57] knownasilya commented on #33
Ok, I just did the following:

[code]

And everything worked fine. I'm using ember-cli `1.13.1`

[2015-07-29 13:58] knownasilya commented on #33
Can someone create a repo that reproduces this issue? That would help immensely.

[2015-08-05 23:25] gte451f commented on #33
I've confirmed that a fresh install works as @knownasilya previously mentioned.
Will try again w/ my local apps and link to a broken example if I'm still not able to get it working.

[2015-08-06 00:23] gte451f commented on #33
Here is a link to an Ember CLI app that does not work.
[https://github.com/gte451f/smores-mgr] (https://github.com/gte451f/smores-mgr)

There are a couple of  caveats...
1. It normally requires a backing API, just go to the test route and you should avoid API calls  [http://localhost:4200/test] (http://localhost:4200/test)
2. There is a wrinkle in the install mentioned in the readme

[2015-08-12 13:06] knownasilya commented on #33
@rwjblue @stefanpenner any ideas what the issue might be here? I'm at a loss.

[2015-08-24 20:06] matixmatix opened #35 "Toggle not checked when bound property is true on render?"
` {{x-toggle value=true theme='light'}} ` is rendered in a non-checked state. Is that expected behaviour?

[2015-08-24 20:11] knownasilya commented on #35
`toggled` is the attribute you would want.

[2015-08-24 20:12] knownasilya commented on #35
The next major version is going to have some API cleanup.

[2015-08-24 20:19] matixmatix commented on #35
Thank you @knownasilya. Keep up the good work.

[2015-08-24 20:19] #35 closed

[2015-08-27 21:19] izukingz opened #36 "How to differentiate two toggle buttons on same page"
Is there a way to know which toggle button called the action function. The toggle only has one parameter (isToggeled) so how else can i send the Id of the button that triggered the action?

[2015-08-27 21:39] knownasilya commented on #36
Good idea, how about if you received `toggled(isToggled, toggleName) {}` where `name` is set by `{{x-toggle name='first'}}`?

[2015-08-27 21:48] izukingz commented on #36
Your suggestion toggled(isToggled, toggleName) should work fine. The workaround will not work in my case since they buttons a dynamically generated with an id for each of them. So i am guessing that {{x-toggle name=controller.someid}} should work alright?

[2015-08-27 21:49] knownasilya commented on #36
Exactly.

[2015-08-27 21:49] izukingz commented on #36
Oh thanks for the fast response. i just downloaded the addon, and this is what is currently stopping me from using it.

[2015-08-27 21:51] knownasilya commented on #36
Ok, I'l let you know once the feature lands (before the end of this week, maybe tomorrow). Stay tuned.

[2015-08-27 21:57] izukingz commented on #36
Thanks

[2015-08-28 12:21] knownasilya commented on #36
Should be released as v0.6.0. Let me know if it works for you.

[2015-08-28 12:21] #36 closed

[2015-08-28 15:52] izukingz commented on #36
Works great. Thanks a lot.

[2015-08-28 16:03] izukingz commented on #24
Hello, how exactly do i use this feature to disable action trigger on init?

[2015-08-28 16:06] knownasilya commented on #24
@izukingz see the comment above: https://github.com/knownasilya/ember-cli-toggle/issues/24#issuecomment-110948784

[2015-09-24 17:58] brandonjmckay commented on #33
Just tried again on a new app, and getting this still.

[2015-09-24 18:37] knownasilya commented on #33
What is it that you guys are doing that's causing this? I'm going to try to setup a test repo with the working version.

[2015-09-24 20:31] brandonjmckay commented on #33
If I explicitly import this in my app, and re-export it it works fine.

[2015-09-24 20:31] brandonjmckay commented on #33
Must be something to do with how it is exporting it into the app.

[2015-09-25 00:48] knownasilya commented on #33
Maybe something to do with the version of Ember CLI?

[2015-09-25 19:12] begemotx2 commented on #33
Same for me. Ember CLI version 1.13.1
Not sure, if it help, but checked built assets/<app-name>.js file.

Other installed components usually has name '<app-name>/components/<component-name>' such as
[code]
but x-toggle is defined as
[code]

[2015-09-26 01:29] knownasilya commented on #33
Sounds like certain versions of ember-cli don't support the syntax where the template is in the addon directory. @rwjblue could that be an issue with some versions of the CLI?

[2016-01-12 10:47] arunrajasankar opened #37 "Could not find module `ember-cli-toggle/components/x-toggle/template`"
Uncaught Error: Could not find module `ember-cli-toggle/components/x-toggle/template` imported from `ember-cli-toggle/components/x-toggle/component`

the above error occurs whenever i try to use {{x-toggle}} component in my application

i tried all of the below:
{{x-toggle toggle='startCar'}}
{{x-toggle theme='light' toggle='enableLayer'}}
{{x-toggle theme='ios' size='small' toggle='muteVolume'}}

[2016-01-12 12:09] knownasilya commented on #37
What version of toggle are you using?

[2016-01-12 12:18] knownasilya commented on #37
Logs like this is related to #33, but the error is better.. I'll try upgrading the Ember CLI version.

[2016-01-12 12:19] knownasilya commented on #33
@stefanpenner any thoughts on this issue?

[2016-01-12 16:46] stefanpenner commented on #33
@knownasilya i need a reproduction to investigate,

the above provided one seems to be hitting some `less` issue, running out of memory.
[code]

[2016-01-12 16:46] stefanpenner commented on #33
^^ doesn't seem to describe the issue here, so I believe it to be orthogonal and maybe something with less? Anyways, if someone provides a reproduction (that works), i'll dig in.

[2016-01-13 05:32] arunrajasankar commented on #37
ember-cli-toggle version : 0.6.0

[2016-01-13 12:46] knownasilya commented on #37
Closing for #33, please post there. It would really help if you could create a bare bones repo that reproduces this issue.

[2016-01-13 12:46] #37 closed

[2016-02-08 20:14] planetcrypton opened #38 "Theme goes blank"
Hi, whenever I use the theme attribute the 'toggle-element' becomes completely blank (as in invisible).
Without defining that attribute the default 'toggle-element' comes up just fine.
(I'm using bootstrap, also without bootstrap the sam occurs)

$ ember -v
version: 1.13.8
node: 0.12.2
npm: 2.13.4
os: darwin x64

[2016-02-08 21:36] knownasilya commented on #38
Which version of ember (check chrome console) and which version of the addon?

[2016-02-09 08:33] planetcrypton commented on #38
Ember: 1.13.7
"ember-cli-toggle": "^0.6.0"

[2016-02-09 13:20] knownasilya commented on #38
Did you import the theme you are changing to? https://github.com/knownasilya/ember-cli-toggle#configuring

[2016-02-09 13:43] planetcrypton commented on #38
Yes, I set `includedThemes` in `ENV['ember-cli-toggle']` (other settings work)

[2016-02-09 13:45] knownasilya commented on #38
Would love an example of your config and how your toggle is setup so I can try to reproduce.

[2016-02-09 13:52] planetcrypton commented on #38
environment.js
`
  var ENV = {
    modulePrefix: 'kfs',
    environment: environment,
    baseURL: '/',
    defaultLocationType: 'auto',
    EmberENV: {
      FEATURES: {
        // Here you can enable experimental features on an ember canary build
        // e.g. 'with-controller': true
      }
    },

    APP: {
      // Here you can pass flags/options to your application instance
      // when

[2016-02-09 14:10] knownasilya commented on #38
`value` should not be quoted. `{{x-toggle value=controller.aktuelt}}`.
Otherwise make sure your bootstrap addon isn't clobbering the toggle CSS.

[2016-02-09 14:19] planetcrypton commented on #38
I'm so sorry, it was quoting the value-variable...

[2016-02-09 14:20] knownasilya commented on #38
No problem. So it shows up now?

[2016-02-09 14:21] planetcrypton commented on #38
nicely :)

[2016-02-09 14:21] #38 closed

[2016-02-09 14:21] knownasilya commented on #38
Glad I could help :+1:

[2016-02-09 14:22] knownasilya commented on #33
Closing this until someone can produce a clean reproduction.

[2016-02-09 14:24] knownasilya commented on #28
Is this still an issue in the latest release?

[2016-02-09 22:53] ksnyde commented on #28
I'd trust you if you said it was. :)

I'm super heads down on other things right now so won't be able to check right now.

[2016-02-09 22:56] knownasilya commented on #28
I think I need to write up some tests.. it's gotten much easier

[2016-02-18 22:46] ashishtajane commented on #33
I ran into this problem just now. Then I created a fresh repo with just this addon installed and it was still not working.
Repo link - https://github.com/ashishtajane/ember-toggle

After that, I shuffled the addon files a bit and was able to make it work. So I have added those files also in above repo (in `node_modules/ember-cli-toggle` folder)

Here is how the final addon folder looks (in working

[2016-02-19 02:08] knownasilya commented on #33
Are you by any chance using podModulePrefix?

[2016-02-19 02:50] ashishtajane commented on #33
I literally just did this

    ember new ember-toggle
    cd ember-toggle
    ember install ember-cli-toggle
    # add to application.hbs following line
    # {{x-toggle value=someValue}}

ember-cli version is `2.3.0-beta.1`
addon version is `0.6.0`

[2016-02-19 23:06] knownasilya commented on #33
Can you give v0.6.1 a try?

[2016-02-19 23:43] ashishtajane commented on #33
Works!
Thanks :+1:

Although there seems to be another issue with CSS. The theme files are not getting imported correctly I think. Because only `default` theme was visible for me. Then I manually copied css of a theme (`ios`) to my `app.css` and that theme became visible. Same with rest of them.

[2016-02-20 02:46] #33 closed

[2016-02-20 02:47] knownasilya commented on #37
See if https://github.com/knownasilya/ember-cli-toggle/issues/38 helps

[2016-02-20 02:48] knownasilya commented on #33
See if #38 helps

[2016-02-29 17:02] ef4 opened #39 "Collides with Ember's built-in `on` and `off` methods"
`Ember.Component` has methods named `on` and `off`, which `x-toggle` is attempting to reuse for its own purposes. This fails in confusing ways on some versions of Ember. For example, using Ember 1.13 with x-toggle 0.5.10, the defaults provided in x-toggle are ignored and you end up trying to do `indexOf` on function values.

[2016-02-29 17:06] knownasilya commented on #39
Good catch. Will change and release a major version, so it doesn't break anything for those that it works for. Does that sound fine to you?

[2016-02-29 17:17] ef4 commented on #39
Yes, makes sense. The names were public API, so a major rev is appropriate.

[2016-02-29 17:23] ef4 opened #40 "Pod structure makes x-toggle undiscoverable for some apps"
If an app customizes `podModulePrefix`, their resolver won't find `app/components/x-toggle/component.js`.

I think the only way for addons to remain 100% compatible is to stick with the stock structure (app/components/x-toggle.js).

[2016-02-29 17:24] ef4 commented on #40
It's possible to workaround this within an app by creating `app/components/x-toggle.js` explicitly and doing the reexport:

[code]

[2016-02-29 17:37] ef4 commented on #39
I just realized that my workaround for #40 was exacerbating this issue. I was using the XToggle class from the addon directory, and I missed that defaults only get set in the extended class in the app tree.

(It's still bad to squash `on` and `off`, but the squashing _does_ actually work once I figured out why I had no default values.)

[2016-02-29 17:41] knownasilya commented on #40
Already fixed with 0.6.1https://github.com/knownasilya/ember-cli-toggle/commit/3705bcc59a73aa00b406849c40ad7ec27ac30158 see the 0.x branch.

[2016-02-29 17:42] knownasilya commented on #39
I will still change this and release a new version.

[2016-02-29 17:54] #39 closed

[2016-02-29 17:55] #40 closed

[2016-02-29 19:00] #28 closed

[2016-03-29 13:23] lolmaus opened #41 "Styles not available when used in an addon"
Hi! When I include `ember-cli-toggle` into the main app, it's fine.

But when I instead include it into an addon's `dependencies`, the `x-toggle` component appear unstyled.

PS Thank you for the awesome component!

[2016-03-29 17:12] knownasilya commented on #41
I just commited a change, see https://github.com/knownasilya/ember-cli-toggle/blob/master/index.js#L11 Give master a try and let me know if it works, if so I'll release a new version.

[2016-04-02 23:32] #15 closed

[2016-04-20 06:18] clevernyyyy commented on #41
@knownasilya - this update works for me.  I was having issues from NPM, but with this update it's good.  Thanks for your hard work & effort!

[2016-04-20 12:46] knownasilya commented on #41
Thanks @clevernyyyy, glad it worked for you. I'll release a new version so that npm is a non-issue.

[2016-04-23 01:16] NikkiDreams opened #44 "Toggle is executing on render"
[code]
In my form component:
[code]
I find that the toggle event is firing as the route is rendered. It should not fire until a user clicks on the x-toggle component.

[2016-04-23 01:31] knownasilya commented on #44
What version of the addon are you using?

[2016-04-23 01:49] NikkiDreams commented on #44
Latest release
I installed it without specifying a version
Ember install ember-cli-toggle

[2016-04-24 18:54] mwadden commented on #44
I'm experiencing this as well.

[code]

[2016-04-28 21:48] knownasilya commented on #44
Could you guys give master a try (it has a new api, see the readme).

[2016-04-28 22:00] NikkiDreams commented on #44
Will do it tonight.

[2016-05-04 14:44] knownasilya commented on #44
Ping 😄

[2016-05-17 04:05] NikkiDreams commented on #44
Hey, Sorry its taken so long to get back to you. Life Events...
I updated to the 2.0 version. I am still having the same problem. onToggle is firing off when the page loads.

[code]

[2016-05-18 02:17] NikkiDreams commented on #44
I futsed around with things a bit. Everything is working now. Working changes below.

[code]

[2016-06-02 16:55] codecalypso opened #46 "Uncaught Error: Assertion Failed: A helper named 'x-toggle' could not be found"
I not sure why I am getting this error in a my application. Is it because I haven't added the line below to a config file. I am new to Ember and am not sure where I'd add that information. Do I add it to environment.js or create a new file in the config folder? I am currently using Ember 2.5.1

**Add a configuration for ember-cli-toggle to include only the themes that you will use.**

ENV['ember-c

[2016-06-02 18:14] knownasilya commented on #46
the config should be in `config/environment.js`. Did you restart your `ember serve` after installing addon?

[2016-06-02 18:39] codecalypso commented on #46
I did. I ran this: npm install ember-cli-toggle and then added this {{x-toggle value=myValue onToggle=(mut myValue)}} to my template

[2016-06-02 19:11] knownasilya commented on #46
`ember install ember-cli-toggle`

[2016-06-02 19:47] codecalypso commented on #46
Yeah! Thanks so much, that worked 👍

[2016-06-02 20:04] #46 closed

[2016-06-02 20:04] knownasilya commented on #46
Glad I could help!

[2016-06-24 14:45] lolmaus opened #48 "Changelog & upgrade instructions"
Major release assumes breaking changes, but what are they?

[2016-06-24 14:52] knownasilya commented on #48
They are all here https://github.com/knownasilya/ember-cli-toggle/pull/45

[2016-06-24 14:53] lolmaus commented on #48
Please create a proper `CHANGELOG.md`. :bow:

[2016-07-07 18:30] knownasilya opened #49 "Allow dragging toggle"
Some people try to use the toggles by dragging, but the action fails since we don't support that.

[2016-07-07 18:31] #41 closed

[2016-07-07 18:31] #44 closed

[2016-08-12 00:02] skaterdav85 opened #51 "the value only supports the string "True", not the boolean true"
Hi! I'm doing something like this:

[code]

When `tfa` is boolean `true`, the toggle is in the off state, but when `tfa` is the string `"True"`, it is in the on state. If `tfa` is any other string, it is also off. Is this intentional, or is this a bug?

[2016-09-15 20:44] aklkv opened #52 "Depreciation in Ember 2.8"
DEPRECATION: Enumerable#contains is deprecated, use Enumerable#includes instead. [deprecation id: ember-runtime.enumerable-contains] See http://emberjs.com/deprecations/v2.x#toc_enumerable-contains for more details.

[2016-09-19 19:03] lolmaus opened #54 "Support indeterminate state (tristate)"
Currently Ember has no checkbox addon with support for three states. ember-cli-toggle could be the first!

[2016-09-19 20:18] knownasilya commented on #54
How would you see that working visually in a toggle?

[2016-09-19 20:24] lolmaus commented on #54
Naturally, the knob stays in the middle. Could also change its color.

[2016-09-20 13:55] matixmatix opened #55 "How to work with booleans?"
I'm having difficulties getting this to work with toggling booleans.

component:
[code]

template:
[code]

[2016-09-20 15:45] knownasilya commented on #55
See the first example here https://github.com/knownasilya/ember-cli-toggle#labels

[2016-09-22 10:02] matixmatix commented on #55
@knownasilya thank you, this works. In my opinion, this API is fairly unintuitive and unusual. To set possible toggle values in a string, and pass it in a property named `onLabel/offLabel` just seems kinda odd. I'm wondering what led you to this decision in the latest major release? On the other hand, thanks a lot for making and maintaining this add-on, I use it in a couple of projects.

[2016-09-22 10:02] #55 closed

[2016-09-22 11:32] knownasilya commented on #55
Mainly it was from a contributors PR. I'm open for alternatives.

[2016-09-22 15:48] steffenbrem opened #56 "Styling: inline switch"
By default the whole switch is filling my whole table cell and its centered. How would I make it inline and to the left?

[2016-09-22 15:53] knownasilya commented on #56
Try styling it like so

[code]

[2016-09-22 15:55] knownasilya commented on #56
Open to suggestions for better defaults.

[2016-09-27 11:54] #52 closed

[2016-10-17 23:13] realityendshere commented on #52
Thanks for patching this! Would it be possible to tag and publish this as v2.0.2? Is there still work to be done before this patch can be referenced by version?

[2016-10-18 02:32] knownasilya commented on #52
I'll try to release a new version this week. Thanks for the ping.

[2016-10-25 13:36] vluoto commented on #52
Thanks for the patch! I'm too still waiting for the patch to be released though. :v:

[2016-10-25 13:37] knownasilya commented on #52
On it 😄

[2016-10-25 14:00] knownasilya commented on #52
Published v2.0.2

[2016-10-25 14:01] vluoto commented on #52
🎉

[2016-11-02 07:50] MarioDiar opened #57 "CSS of toggle-component not changing"
I'm rendering my component with an if like so. The boolean changes via a button.

`
{{#if myBoolean}}
{{my-emberclitoggle-comp}}
{{/if}}
`

And the CSS of the component is not switching to the selected state when clicked, but the value is being changed correctly.

When the component is rendered normally example:
`{{my-emberclitoggle-comp}}`
the CSS changes fine when clicked.

I also tried by rende

[2016-11-02 13:27] knownasilya commented on #57
Thanks, I'll have a look.

[2016-11-02 20:52] knownasilya commented on #57
It's a bug for sure, but I'm unsure if it's a bug with my code or in Ember (most likely mine :trollface:).

[2016-11-02 20:58] MarioDiar commented on #57
I believe it has something to do with the javascript of the component not being registered when rendered.

[2016-11-02 21:06] knownasilya commented on #54
Actually, currently this is almost supported. Basically if the value is not a valid value, then it will set a class `invalid-state` on the component, which could be used to style the element as indeterminate.

[2016-11-02 21:07] knownasilya commented on #57
No, the javascript is registered. The issue is that the computed property that determines the visual state is not recalculated for some reason.

[2016-11-04 23:02] MarioDiar commented on #57
yeah, it's really weird. Do you know if this happened in earlier versions of the addon?

[2016-11-12 10:32] ScottSmix opened #58 "Yield in template.hbs"
Would be nice to have a {{yield}} at line 6 on template.hbs so that we can add our own question labels like:

{{#x-toggle value=showHidden onToggle=(mut showHidden)}}
Show hidden?
{{/x-toggle}}

Any thoughts?

[2016-11-12 15:22] knownasilya commented on #58
Sounds reasonable.

[2016-12-20 09:37] sibijohn72 opened #59 "Doesn't work in 2.10"
It simply doesnt work in 2.10. I tried to set up a minimal toggle button in a new project but nothing happens to the button when i click. It does not toggle.

[2016-12-20 11:42] knownasilya commented on #59
Thanks, will investigate.

[2017-01-18 12:53] checkerap commented on #51
It seams by design, as the default values for 'on' 'off' are strings: 'True', 'False'.

If you change them in config:

ENV['ember-cli-toggle'] = {
defaultOffLabel: false,
defaultOnLabel: true
}

than it seams to work with true, false

[2017-01-18 13:38] knownasilya commented on #51
Sorry, I missed this. Yes you can change the values to suit your needs.

[2017-01-18 13:38] #51 closed

[2017-01-20 10:59] lancedikson commented on #59
@sibijohn72, could you provide some code? It would be nice to see on using of the component and your config for it at `environment.js` if it exists.

[2017-01-20 11:00] lancedikson commented on #59
Btw, for me, it works well on 2.10.

[2017-01-20 11:08] lancedikson opened #60 "Conditional styles importing"
Looks like there are some cases when you want a customized toggle and don't need those default styles. Is it suitable to make them importable optionally like add `@import 'ember-cli-toggle'` to the `app.css`?

[2017-01-20 13:56] knownasilya commented on #60
Sure, as long as that is set by default.

[2017-01-22 21:07] lancedikson commented on #60
@knownasilya, I have a good example of that practice — [ember-power-select](https://github.com/cibernox/ember-power-select/blob/a8e1192ed055795239b2eb856e937a575c0b2776/index.js#L25), but they do it with adding [some complexity](https://github.com/cibernox/ember-power-select/blob/a8e1192ed055795239b2eb856e937a575c0b2776/config/release.js#L17) to addon's release process. They just have some `ember

[2017-01-22 22:01] knownasilya commented on #60
We already do that, see https://github.com/knownasilya/ember-cli-toggle/blob/master/index.js#L36

[2017-01-22 22:02] lancedikson commented on #60
But `base.css` includes anyway without any condition, right?

[2017-01-22 23:43] knownasilya commented on #60
Yeah, we could add a property to exclude it, e.g. `excludeBaseStyles: true`.

[2017-01-23 08:32] lancedikson commented on #60
Sounds good 👍

[2017-01-24 07:29] vmalloc opened #61 "README example causes ember error"
Trying to create a simple controller with a boolean `flag` attribute, and the code:

[code]
As taken from the README, Ember raises an error:

[code]

Tested with latest ember-cli-toggle (v2.0.2) and Ember 2.10

[2017-01-24 13:59] knownasilya commented on #61
Thanks for reporting.

[2017-01-26 00:39] hoboman313 commented on #61
I'm running into the same issue on emberjs 2.10.2. Happens during the initial load.
The stack trace of the failure is on the x-toggle component: line 47 -> 182

[2017-01-26 01:13] hoboman313 commented on #61
Also I noticed that the double rendering issue happens only when the initial value is false.

[2017-01-26 13:04] knownasilya commented on #61
Not undefined?

[2017-01-26 18:09] hoboman313 commented on #61
correct

[2017-01-27 05:17] hoboman313 commented on #61
Might have been an error on my side as I copied the example which was (mut myValue) instead of (action (mut myValue))

[2017-01-30 14:19] cibernox commented on #59
I can reproduce in 2.11. The problem seems to be that this component incorrectly call the `onToggle` function on init, causing the dread`"Assertion Failed: You modified "v1" twice on <dummy@controller:application::ember294> in a single render`.

I'm investigating a fix.

[2017-01-30 14:37] lancedikson commented on #59
@cibernox, could you provide the code as well? Let us know how do you actually use the `x-toggle`  component, please :)

[2017-01-30 14:42] cibernox commented on #59
@lancedikson No need. The very test suite is a good example of the bug: https://travis-ci.org/knownasilya/ember-cli-toggle/jobs/196596235

[2017-01-31 14:56] knownasilya commented on #61
Give v3.0.0 a try.

[2017-01-31 14:56] #61 closed

[2017-01-31 14:56] knownasilya commented on #60
This is a thing in v3.0.0.

[2017-01-31 14:56] #60 closed

[2017-03-16 17:25] avanov commented on #59
What's the status of this issue? I've tried using it with `ember-cli 2.11.1`, and I so no widget when I use the component (no errors in console though).

[2017-03-16 17:31] knownasilya commented on #59
Did you try version 3.0?

[2017-03-16 18:06] avanov commented on #59
@knownasilya yes, the latest one available on npm

[2017-03-16 18:16] avanov commented on #59
@knownasilya the default theme works
[code]
but then, as soon as I specify the `theme` attribute, the widget renders only labels, without the control.

[2017-03-16 18:20] avanov commented on #59
@knownasilya yes, the latest one available on npm.

It turned out, that the default theme works fine
[code]
but then, as soon as I specify a non-default `theme` attribute, the widget renders only labels, without the control.

[2017-03-16 18:53] knownasilya commented on #59
You must opt into other themes, see the configuration section in the readme.

[2017-03-16 18:53] #59 closed

[2017-03-17 12:59] vladucu opened #63 "Toggle action is still fired when the toggle is disabled"
When the toggle is disabled, actions are still fired...didn't expected that.
Is this desired?

[2017-03-17 13:21] knownasilya commented on #63
No, sounds like a bug 👍

[2017-03-17 13:32] #63 closed

[2017-03-17 13:32] knownasilya commented on #63
Fixed in v4.0.1

[2017-03-18 21:11] vladucu commented on #63
thx @knownasilya! this is awesome!

[2017-03-20 13:03] vladucu commented on #63
@knownasilya when you get a chance, can you please do a new release? thx

[2017-03-20 13:31] knownasilya commented on #63
@vladucu it has been released.

[2017-03-20 17:46] vladucu commented on #63
ah, sounds good! missed that
cheers!

[2017-04-03 17:50] rwwagner90 commented on #57
Seeing this issue as well. Any updates? I looked at the code, and I am quite confused. Why is there not just a boolean that is set to `true` or `false` for toggled?

[2017-04-03 18:53] knownasilya commented on #57
@rwwagner90 the object is basically me merging a PR that needed more thinking through. I haven't heard too many people mention it, but I'm willing to make it simple again.

[2017-04-03 19:09] rwwagner90 opened #65 "Why does this not bind to a single boolean for checked or not?"
It seems odd that we are checking labels and values and all that. Shouldn't a toggle switch just have `true` or `false` values based on whether the checkbox behind the scenes is `checked`?

[2017-04-05 23:28] knownasilya commented on #57
What are the steps to reproduce this? I'm trying to write a test that reproduces the issue.

[2017-04-05 23:51] knownasilya commented on #57
I don't think this is an issue any more.

[2017-04-06 01:41] rwwagner90 commented on #57
@knownasilya I have not checked out the example here, but the issue we have is the `value` passed in does not effect the `checked` value of the checkbox, so the styles are not applied correctly when you change the value from outside the component and pass it down. I assumed that was the issue here as well.

[2017-04-06 03:04] knownasilya commented on #65
Give https://github.com/knownasilya/ember-toggle/tree/simplify a try.

[2017-04-06 03:05] knownasilya commented on #57
Give https://github.com/knownasilya/ember-toggle/tree/simplify a try.

[2017-04-06 04:28] knownasilya commented on #58
Give https://github.com/knownasilya/ember-toggle/tree/simplify a try, see the example here: https://github.com/knownasilya/ember-toggle/blob/simplify/tests/dummy/app/templates/application.hbs#L184

[2017-04-06 04:30] knownasilya commented on #48
Added as of v4

[2017-04-06 04:30] #48 closed

[2017-04-11 12:11] rwwagner90 commented on #65
This is fixed in the new alphas 😄

[2017-04-11 12:11] #65 closed

[2017-05-18 15:16] knownasilya opened #74 "Release 5.0"
- [x] Document new APIs
- [x] Add `toggleLabel` label component, which handles the value and label display for you
- [x] Update to babel 6
- [x] Release

[2017-05-18 15:16] knownasilya commented on #74
@rwwagner90 @webark

[2017-05-18 19:02] webark commented on #74
did i think that's pretty good.. might just make sure all reps are up to date.

[2017-05-18 20:41] rwwagner90 commented on #74
@knownasilya if you're cool with running ember-cli beta, 2.14.0-beta.1 brings in babel 6 by default. Would be happy to do the update.

[2017-05-18 22:07] knownasilya commented on #74
Sure, I'd be up for it.

[2017-05-19 11:25] rwwagner90 commented on #74
@knownasilya PR is up for the update https://github.com/knownasilya/ember-toggle/pull/75

[2017-05-26 14:55] #58 closed

[2017-05-26 14:55] knownasilya commented on #58
The above changes are now in the master branch. See the dummy app for examples.

[2017-05-30 14:38] williamhaley opened #77 "Clarify/fix discrete values"
http://knownasilya.github.io/ember-toggle/

In the demo app, there is an example showing "Discrete labels and values".

[code]

The syntax for the label text looks a lot like how `classNameBindings` are done for components.

[code]

So my assumption is that "Hey" would be the text, and "hey" the value, but that does not seem to be how the toggle is actually working.

It seems like the entire strin

[2017-05-30 15:46] knownasilya commented on #77
I recommend you use the latest 5.0 alpha (it's pretty much ready for release) since
we have removed the built in value modification feature. You can do it yourself in the action
based on the `true`/`false` value that the toggle returns.

[2017-05-30 16:23] williamhaley commented on #77
As far as the demo is concerned, I found that if I re-created the examples but replaced `:` with `::`, it worked as the docs seemed to describe. So I think that may be a typo/issue on the demo app page based on the current version it's using.

But I'll look into 5.0 alpha since it sounds like that's the place to focus. Thanks @knownasilya.

[2017-05-30 20:18] #77 closed

[2017-06-13 21:32] alexander-alvarez opened #78 "Unclear usage / Docs"
All of the the documentation uses the `mut` helper, so it's unclear that `value` should be a string that matches the labels.
I thought value was supposed to be a boolean because of
the default [`value: false`](https://github.com/knownasilya/ember-toggle/blob/master/addon/components/x-toggle/component.js#L13).

To add to that, I'm using labels that are one letter representation of the actual value

[2017-06-13 23:31] rwwagner90 commented on #78
I believe this is completely changed with 5.0, correct @knownasilya? We just need to get it documented and released.

[2017-06-15 10:11] knownasilya commented on #78
That is correct @rwwagner90. I'll try to get the docs updated this week, and the final RC pushed.

[2017-06-21 14:47] steverhoades commented on #57
My issue may be related to this, but the css is not 'toggling' or changing it's displayed state on Ember 2.13 either.  It is triggering the onToggle action though.

[2017-06-21 14:55] rwwagner90 commented on #57
@steverhoades have you tried version 5 alpha?

[2017-06-21 15:10] steverhoades commented on #57
@rwwagner90 Not yet.  I think my issue at the moment is tied to the fact that the toggle expects 'on' or 'off' as the value.  If it is not one of these values then it doesn't pass the validValue check on the toggled computed property.

There may be something i'm missing here, still investigating.  My values are 1 and 0, so transforming those to on, off seem to at least get it to show the state tra

[2017-06-21 15:11] steverhoades commented on #57
@rwwagner90 nevermind, i see it.  I'll give it a try.

[2017-06-21 15:15] steverhoades commented on #57
@rwwagner90 after installing 5 alpha on Ember 2.13 I get the following error:
[code]
So, it doesn't appear to work.

[2017-06-21 15:20] rwwagner90 commented on #57
@steverhoades the usage is different in 5. We switched to contextual components and have not updated the docs yet. You'll want something like this:

[code]

[2017-06-21 15:25] steverhoades commented on #57
@rwwagner90 that example results in:
[code]

I think this may be related to the fact that I'm using pods with 2.13.  I've run into a few issues where add-ons were using the pods structure.

[2017-06-21 15:26] steverhoades commented on #57
@rwwagner90 this is the exact way i'm using your example
[code]

[2017-06-21 15:28] rwwagner90 commented on #57
@steverhoades yes, this is due to the use of a `podModulePrefix`. We merged a commit to revert back to classic, rather than pods, but have not released since then.

You can setup your own imports in your project to get around this, if you'd like.

[2017-06-21 15:38] steverhoades commented on #57
@rwwagner90 using the latest master appears to work.  Any idea when you'll have another release tagged?

[2017-06-21 15:42] knownasilya commented on #57
I'm going to try and do a v5 release today.

[2017-06-21 15:46] steverhoades commented on #57
Is there a way to get a value other than true/false ?  For instance, I'd like to have the value be 0 for off and 1 for on.

[2017-06-21 15:55] knownasilya commented on #57
I recommend doing that in your action.

[code]

[code]

[2017-06-21 15:59] steverhoades commented on #57
My usage is a little more complicated than that, but I'll just wrap this in another component to handle that functionality.

As a feature request, it would be really nice to have that encapsulated in the component itself so that (action (mut value)) could be used without the need to define the onToggle method.

[2017-06-21 16:00] steverhoades commented on #57
also.. Thank you!

[2017-06-21 16:06] knownasilya commented on #57
You could define a custom helper that allows you to do something like that. See https://github.com/DockYard/ember-composable-helpers/blob/master/addon/helpers/toggle.js for an example.

[2017-06-21 16:12] steverhoades commented on #57
@knownasilya Thanks.. i'll check that out as that might be a good interim solution.

[2017-06-21 16:24] knownasilya commented on #57
https://ember-twiddle.com/77630479fe4e1a7079ef90ec66fe5002?openFiles=templates.application.hbs%2Ctemplates.components.toggle-switch.hbs

[2017-06-21 16:28] rwwagner90 commented on #57
@steverhoades why not just use the boolean values, and then have computeds for the 0 and 1 that you need? I assume you just need numbers to send to the database or something?

[2017-06-21 17:09] steverhoades commented on #57
@rwwagner90 Thanks for the suggestion! After looking at my model I can see I defined it as a string vs. a number.  Changing the value to a number works in this case.

I still still think it would be a great feature to support custom value options though.

[2017-06-21 17:34] rwwagner90 commented on #57
@steverhoades I would have to disagree with you on that. We specifically moved away from custom values on purpose. This is a checkbox behind the scenes, so you should just map true and false to the values you need in your app.

[2017-06-21 18:28] steverhoades commented on #57
@rwwagner90 fair enough.  Perhaps it only makes sense for my use case in which wrapping the component or creating a helper would be sufficient.

In my particular use case I don't know the value for which I'm modifying.  The configuration for the form comes from the server and is not hard coded into the Ember app.  I suppose I'll need to enforce a boolean/number only value option for this type of i

[2017-06-28 23:17] webark opened #79 "Migrate away from old style shims"
I recently upgraded to the ember shims beta that uses the new module import syntax, and was getting deprication errors due to the use of things like [`import Component from 'ember-component';`](https://github.com/knownasilya/ember-toggle/blob/master/addon/components/x-toggle-label/component.js#L1)

I suggest that we switch to using the default global Ember import, and then we could possibly do the

[2017-06-28 23:17] webark commented on #79
wanted to get feed back before issuing a PR.

[2017-06-28 23:33] knownasilya commented on #79
I'm for that.  In general I use the defaults.

[2017-06-28 23:48] rwwagner90 commented on #79
@webark I'd really prefer to keep using shims. We should switch them out for the new ones when they drop.

[2017-06-28 23:52] webark commented on #79
hmm.. ok. This is just the only addon in my project that is using them and throwing the deprecation warning.

[2017-06-28 23:53] rwwagner90 commented on #79
I just don't think we should migrate backwards away from shims, when the point of migrating to shims was to be ready for module unification.

[2017-06-28 23:57] webark commented on #79
ya. the only issue with switching them to the new ones when they land, which is looks like it will be in beta for 2.15, is that, and just quoting the meeting notes,

which makes sense if I'm reading it right. https://github.com/emberjs/core-notes/blob/master/ember-cli/2017-06/june-15.md

[2017-06-29 00:01] webark commented on #79
though longterm it looks like, at least ones the moudle api lands, then will want addon devs to be using the new shims/module syntax https://github.com/emberjs/rfcs/blob/master/text/0176-javascript-module-api.md#addons

[2017-06-29 02:52] rwwagner90 commented on #79
@webark we definitely want to use the modules when they drop. I'm okay with temporarily moving back I suppose, but we'll need to move back to modules again soon.

[2017-07-07 17:57] webark commented on #74
@knownasilya you think we could get another beta release while this is being worked on? And what exactly does `Add toggleLabel label component` mean. I might be able to work on it so we can get this release out.

[2017-07-07 19:29] knownasilya commented on #74
The main blocker is the README needs updating. If you could work on that in a public PR, we can move this forward quickly. I'll do a beta release now.

[2017-07-08 02:07] knownasilya commented on #74
Alpha.6 released

[2017-07-12 14:45] knownasilya commented on #79
https://github.com/netguru/eslint-plugin-ember/blob/master/docs/rules/no-old-shims.md looks like that rule can be used with `eslint --fix`. @webark have time to take a stab?

[2017-07-12 15:47] webark commented on #79
ya, i can look into that today.

[2017-07-13 00:46] #79 closed

[2017-07-14 18:55] #74 closed

[2017-07-14 18:55] knownasilya commented on #57
@MarioDiar can you test with v5? Thanks!

[2017-07-14 18:56] knownasilya commented on #78
@alexander-alvarez can you give v5 a test drive and let us know if the docs are better and how they could be improved. Thanks a bunch!

[2017-07-14 19:31] MarioDiar commented on #57
Sure, will let you know later today or early tomorrow.

[2017-07-27 05:35] Techn1x opened #82 "Issue with toggle width & labels"
So I just installed this addon, looks pretty swish, great job!

However, the following code results in a toggle that looks like the screenshot below it;
[code]
You can see that the "Live" label is aligned next to the end of the toggle, rather than after the entire toggle container.
<img width="126" alt="temp2" src="https://user-images.githubusercontent.com/1049837/28654888-1f873d62-72db-11e7-8693-

[2017-07-27 15:18] knownasilya commented on #82
Can you give the master branch a go?

[2017-07-27 22:41] Techn1x commented on #82
So there seems to be something strange going on here. Using the `width:5.7rem` change works well in the twiddle I linked, but doesn't fix the issue in my webapp - it helps, but it is still not quite right.

large, 4.7rem
<img width="136" alt="untitled1" src="https://user-images.githubusercontent.com/1049837/28695025-2aa075b6-7370-11e7-96cc-570273f08b97.png">

large 5.7rem
<img width="145" alt="unt

[2017-07-27 22:50] knownasilya commented on #82
Sizes are relative to main font-size

[2017-07-27 23:01] Techn1x commented on #82
Ok, so I can see in my body element that font-size is set to 14px, thanks to bootstrap. What should it be set to for this to work correctly? I tried a bunch of values, the toggle itself never changes size, and each time "Live" is still covered by the toggle..

[2017-07-27 23:03] Techn1x commented on #82
Sorry, nevermind I need to edit the html tag font-size...

[2017-07-28 01:43] knownasilya commented on #82
Are there any styles on your page that conflict with the sizing of the container in which the toggles are?

[2017-07-28 13:03] knownasilya commented on #82
Did you end up fixing it?

I wonder if sizing should be revisited, maybe a fixed size instead.

[2017-07-28 14:08] Techn1x commented on #82
Sorry, I got a bit sidetracked after my last comment. I should be able to test a few things again tomorrow, and check to make sure it's not my stylesheet doing something funky

[2017-07-30 10:41] Techn1x commented on #82
Doesn't seem to be my stylesheet unfortunately. I disabled `font-size` in `<html>` and `<body>` elements, and then went through the rest of my elements from the top down to the toggle element itself and searched for any other font settings that might interfere, which there were none.

What about setting `width:auto` on `x-toggle-container` for all toggle sizes, rather than using an rem size? Becau

[2017-08-09 10:47] qwerty-1 opened #83 "how do i call the action with the switch change in ember?"
{{x-toggle value=status theme='ios' size="small" onToggle=(action (mut status)) onLabel='status' offLabel='status'}}

[2017-08-09 12:22] rwwagner90 commented on #83
@qwerty-1 just do a normal action:

[code]

[2017-08-09 12:22] #83 closed

[2017-08-24 10:01] sunflower-tc opened #84 "ember-toggle not work && dont show"
Hello, I have a question to ask you. I added the configuration as you requested, ember, install, ember-toggle, and config/environment, but it didn't work. Please help, thank you.

` {{x-toggle value=toggled theme='ios' onToggle=(action (bsSwitchChanged toggled))}}`

`  if (environment === 'development') {`
    `// ENV.APP.LOG_RESOLVER = true;`
    ` ENV.APP.LOG_ACTIVE_GENERATION = true;`
    ` ENV

[2017-08-24 10:53] knownasilya commented on #84
Configuration should be called `ENV['ember-toggle']` without the `cli`.

[2017-08-24 11:20] sunflower-tc commented on #84
Thank you for your prompt recovery. I tried it, but it still doesn't work.

[2017-08-24 11:58] rwwagner90 commented on #84
@sunflower-tc can you try without the config? You only need one to exclude themes, I believe.

[2017-08-24 11:59] rwwagner90 commented on #84
I would also try contextual components version.

[2017-08-24 14:39] knownasilya commented on #84
Correct, if `includedThemes` aren't defined, all are imported. Are there any errors in the devtools console?

[2017-08-25 02:26] sunflower-tc commented on #84
Hello, I have seen from the Google debugger, the components I used in the project, like missing a lot of things, such as CSS, js. I don't know what's going on here. Please give me some advice. Thank you very much.

[2017-08-25 02:55] knownasilya commented on #84
Can you push your code to github to see?

[2017-08-25 02:55] rwwagner90 commented on #84
@sunflower-tc it would be helpful to know exactly what you mean. It sounds like your project is misconfigured in general, if it is missing other things. Could you please create a reproduction for us to look at?

[2017-09-07 16:49] alexdiliberto opened #86 "{{x-toggle}} inside of an extended `Ember.LinkComponent`"
Here's a twiddle to reproduce: https://ember-twiddle.com/9da214f0f7e16f84041b3bee2fc1c055

It's a bit of an edge case but intuitively I would expect that it works.

You render a `{{x-toggle}}` inside of a parent component. The parent component in this case is `export default Ember.LinkComponent.extend`. I created another dummy component which has 2 click handlers to show that those fire under simi

[2017-09-07 17:10] knownasilya commented on #86
Sounds like an edge case that shouldn't be fixed. Instead of extending the `LinkComponent` you should be using https://github.com/rwjblue/ember-router-service-polyfill and the router service when it's available.

[2017-09-09 15:24] #49 closed

[2017-09-12 15:30] knownasilya commented on #82
@Techn1x could you submit a PR?

[2017-09-12 15:42] knownasilya commented on #54
We can revisit this I think if the value is `undefined` we set to indeterminate state. This will take some work to update all of the styles to support this. I don't currently have the time to implement this, so if anyone wants to pick it up, I'd be happy to work with you to get it to the finish line.

[2017-09-12 15:45] knownasilya commented on #78
I'm going to close this since we've updated the readme and the addon recently. If you still see issues, please submit specific issues or even better, a pull request. 👍

[2017-09-12 15:45] #78 closed

[2017-09-12 15:57] lolmaus opened #89 "CSS issue with the `ios` style on Chrome Android"
The knob stays enlarged util you tap elsewhere.

It is likely related to the `:active` state behaving differently with touch vs mouse. Probably these lines: [vendor/ember-toggle/themes/ios.css#L34-L36](https://github.com/knownasilya/ember-toggle/blob/master/vendor/ember-toggle/themes/ios.css#L34-L36).

![image](https://user-images.githubusercontent.com/200884/30335732-c9c9d82c-97eb-11e7-9dd0-6d5bd

[2017-09-12 15:58] lolmaus commented on #54
I'm afraid this will be a severely breaking change. We can avoid this with an extra param like `tristate=true`.

[2017-09-12 16:20] knownasilya commented on #54
It could always be a v6 enhancement.

[2017-09-12 16:22] knownasilya opened #90 "Add material design toggle theme"
Been wanting to add this for some time now, this is to hold me accountable and give others something to contribute if interested.

![screen shot 2017-09-12 at 12 22 28 pm](https://user-images.githubusercontent.com/34726/30337036-15b0c886-97b5-11e7-9a0d-55111d0c63d5.png)

[2017-09-12 16:29] MarioDiar commented on #57
Seems to be working fine now.

[2017-09-12 16:44] #57 closed

[2017-09-12 22:16] Techn1x commented on #82
Sure. I just wasn't sure if my solution of `width:auto` was the best way to tackle it or if it would have any knock-on effects to other switches :p I'll try and get a PR done & test it with all the switch types in the next 24 hours or so

[2017-09-13 09:15] lolmaus opened #91 "`x-toggle` toggles on click when the `onToggle` action does not update the value"
## How to reproduce

[code]

[code]

![image](https://user-images.githubusercontent.com/200884/30369415-1b704256-987d-11e7-8e0f-9ab17e32b46e.png)

Now click the toggle.

## What I expect to happen

The component should not toggle because the action does not update the value.

## What actually happens

![image](https://user-images.githubusercontent.com/200884/30369429-2c9659ee-987d-11e7-8be4-251f00

[2017-09-13 09:39] lolmaus commented on #91
I've just tried `one-way-checkbox` from `ember-one-way-controls` and it has the same problem. :sob:

https://ember-twiddle.com/3ce9e7f1dd2a09ae7c9219a8031e69be?numColumns=2&openFiles=controllers.application.js%2Ctemplates.application.hbs

[2017-09-13 09:41] lolmaus commented on #91
Related:

* https://github.com/DockYard/ember-one-way-controls/issues/143
* https://github.com/DockYard/ember-one-way-controls/pull/164

[2017-09-13 14:17] rwwagner90 commented on #84
@sunflower-tc do you have an example of code for us to look at?

[2017-09-14 16:25] scottkidder commented on #91
Just ran into this as well.

[2017-09-15 15:15] webark commented on #91
are you sure this is a bug? If you did a standard checkbox input, and set up a one way binding with it, the check box would trigger but if you didn't update the value, it wouldn't update.. having it not update, you'd have resetup two way binding. Right?

[2017-09-15 16:10] lolmaus commented on #91
@webark, the `<input>` element is a remnant of 20th century when the only way to communicate with the backend was to submit a form. At that time, nobody thought about DDAU. Two-way binding was the only way. Actually, there was no binding at all, because there was no other property to bind to. In other words, the internal `checked` property of the `<input>` element was the only source of the truth.

[2017-09-15 17:28] scottkidder commented on #91
I think I have a failing test for this in #94

[2017-09-18 08:56] FredUK opened #95 "Warning: Binding style attributes may introduce cross-site scripting vulnerabilities"
I'm getting this warning everywhere I have a toggle on my site:

`WARNING: Binding style attributes may introduce cross-site scripting vulnerabilities; please ensure that values being bound are properly escaped. For more information, including how to disable this warning, see http://emberjs.com/deprecations/v1.x/#toc_binding-style-attributes.`

it tries to set the value `"touch-action: manipulatio

[2017-09-18 09:23] lolmaus commented on #95
Hmm, I've introduced drag-to-toggle support in 5.1 with [ember-gestures](https://github.com/html-next/ember-gestures/). But I didn't modify the label element, only the switch:

https://github.com/knownasilya/ember-toggle/compare/v5.0.2...v5.1.1

The problem doesn't happen in the demo app, so it might be caused by a combination of Ember addons or by a browser extension.

Can you please try running

[2017-09-18 20:47] #91 closed

[2017-09-22 10:34] FredUK commented on #95
Hi, thanks for your reply. I tried removing all browser extensions but problem still persisted. I tried debugging it to see which addon was causing it and found out it had something to do with ember-hammertime/mixins/touch-action. Going back on the call stack I found this:

Where it triggers deprecation warning:
![image](https://user-images.githubusercontent.com/11888256/30740250-29f3a4f0-9f88-11e

[2017-09-22 10:46] lolmaus commented on #95
I have introduced `ember-hammertime` as a dependency to `ember-toggle` in order to support [toggling with a gesture (#49)](https://github.com/knownasilya/ember-toggle/issues/49).

In my app, I do see those `touch-action` styles applied to `ember-toggle` elements just as you do, but it doesn't produce warnings for me.

It looks like a problem upstream. Note how `touchActionStyle` returns `htmlSafe(

[2017-09-22 13:54] knownasilya commented on #95
What versions of the CLI and Ember are you both using?

[2017-09-22 14:06] FredUK commented on #95
[code]
I tried ember-toggle with "ember new testapp" and it worked fine. I will now try with the same versions of the app where I am getting the deprecations to see if it triggers it. If it does not, I will need to start installing one addon at a time to see if that's the issue.

[2017-09-22 14:20] knownasilya commented on #95
Maybe see when hammertime fixed its deprecation, and do `npm ls ember-hammertime` in your project to see if there are any conflicting versions.

[2017-09-22 14:21] lolmaus commented on #95
@FredUK Oh, then try this: https://github.com/html-next/ember-hammertime/issues/29

@knownasilya We're on 2.12, in the process of updating to 2.15.

[2017-09-22 15:31] FredUK commented on #95
Hi @knownasilya , the only thing using ember-hammertime is ember-toggle:
[code]

@lolmaus  Thanks for the suggestion. I have tried that and it didn't fix it seeing I'm running Ember 2.8.3:
`ember-string-ishtmlsafe-polyfill is not required for Ember 2.8.0 and later, please remove from your `package.json`.`

I have uninstalled about 8 or 9 packages but it's still throwing the deprecation warning. Ju

[2017-09-22 15:33] lolmaus commented on #95
@FredUK I wonder if upgrading Ember CLI will do the trick. I mean, you're still gonna do it some day.

Anyway, I believe this issue discussion has to be moved to the [ember-hammertime issue queue](https://github.com/html-next/ember-hammertime/issues).

[2017-09-22 16:18] FredUK commented on #95
Alright, feel free to close this. Thanks a lot for your help.

[2017-09-23 11:48] #95 closed

[2017-09-25 10:44] FredUK commented on #95
I feel I should add how I fixed it in case someone else comes across the same issue: The issue was gone when moving from Ember 2.9.1 to 2.10.2

[2017-10-02 12:59] mcoirault commented on #90
Hey @knownasilya and happy Hacktoberfest,

I'll start working on this task. Expect a PR soon 😃

[2017-10-08 21:17] knownasilya commented on #90
Resolved by #97

[2017-10-08 21:17] #90 closed

[2017-10-10 14:11] knownasilya opened #100 "Update ember-cli to stable version"
Might also be good to update ember-cli-uglify to v2

[2017-10-18 15:33] knownasilya opened #101 "Add code coverage"
Use https://github.com/knownasilya/google-maps-markup as a template and setup with coveralls.

[2017-10-18 15:35] knownasilya opened #102 "Fix off contrast for some themes"
Some of the themes, e.g. 'default' have a pretty low contrast when in 'off' mode. This makes it hard to see if a user has visual impairments or if a user's monitor contrast is off.

This might also be the time to look into doing "night mode" for each theme so that toggles would work well on dark backgrounds.

[2017-10-18 15:37] knownasilya opened #103 "Add stylelint to promote consistent styles"
https://github.com/billybonks/ember-cli-stylelint

[2017-10-18 15:38] #84 closed

[2017-10-18 15:38] knownasilya commented on #84
Closing since there is no response. Will reopen if there is a response.

[2017-10-18 15:39] #86 closed

[2017-10-18 15:40] knownasilya commented on #86
If there is a reason that you cannot use the above workaround, please leave a comment and we can figure out something. Otherwise, I'm closing this since there is no activity.

[2017-10-27 08:29] mcoirault commented on #103
Hello,

I'll take care of this if you don't mind. I've implemented stylelint in an ember project of mine, so I'm fairly familiar with it.

I suggest we extend [stylelint-config-standard](https://github.com/stylelint/stylelint-config-standard). That set of rules is following many classic standards and is updated regularly.

Once the linter is in place, I'll take care of modifying the existing CSS t

[2017-10-27 16:54] knownasilya commented on #103
@mcoirault go for it 👍

[2018-01-08 18:49] adambedford opened #105 "Adds cursor: pointer; to all inputs"
I'm seeing an inline style `cursor: pointer;` added to input elements (along with `touch-action: manipulation; -ms-touch-action: manipulation;`), which isn't desirable as it breaks convention for fields that accept user input.

I'm pretty sure the source of this inline style is `ember-toggle` and this seems like a bug.

[2018-01-08 20:27] knownasilya commented on #105
What is the style that's introducing this in your app?

We don't use any generic selectors, everything is behind a specific toggle class. The css is here https://github.com/knownasilya/ember-toggle/tree/master/vendor/ember-toggle

[2018-01-08 20:29] lolmaus commented on #105
@knownasilya, he's talking about inline styles, the ones set from JS.

[2018-01-08 20:33] knownasilya commented on #105
I don't think we have any in v5.

[2018-01-08 20:36] lolmaus commented on #105
@adambedford, can you repro?

[2018-01-08 20:51] adambedford commented on #105
here's an example pulled from the Chrome inspector. It happens with `input` elements as well. I'm not 100% positive this is coming from `ember-toggle` but I can't think of where else it'd be coming from at the moment

[code]

[2018-01-08 20:53] lolmaus commented on #105
This addon has nothing to do with textareas. Try running your browser with all extensions disabled (there should be a CLI flag for that).

[2018-01-08 23:38] knownasilya commented on #105
Maybe ember-gestures does something? This addon does use that addon..

[2018-01-12 15:50] danconnell commented on #105
This is happening because ember-hammertime, a dependency of this addon, is applying those styles

[2018-01-12 15:57] lolmaus commented on #105
@danconnell Thank you!

Closing this in favor of upstream issue: https://github.com/html-next/ember-hammertime/issues/31

[2018-01-12 17:06] knownasilya commented on #105
@rwwagner90 just including you since you are active in the ember-hammertime repo.

[2018-01-12 17:46] adambedford commented on #105
thanks @danconnell Unfortunately I need the material style so I can't downgrade. I'll have to wait this one out I suppose.

[2018-01-13 13:34] rwwagner90 commented on #105
@knownasilya yeah, the issue in ember-hammertime was being worked on by @Techn1x but he said he was not having much success. What is the desired fix here? If we make it more configurable, can ember-toggle disable some of these? Just want to know exactly what we want before I look into a fix.

[2018-01-13 16:44] knownasilya commented on #105
Basically, it makes all inputs have a pointer on hover. Not sure we should be doing anything from our side. I think the desired effect is that only items that need touch support via hammertime have the pointer. Maybe the API there should be opt-in for elements. I'd be fine with having to explicitly opt ember-toggle into touch.

[2018-01-14 02:37] rwwagner90 commented on #105
@knownasilya do we need ember-gestures for this addon?

[2018-01-14 15:57] knownasilya commented on #105
It might be overkill, we just need swipe support, maybe there is a simpler way to do that.

[2018-01-14 20:54] lolmaus commented on #105
Using `ember-gestures` was the simplest thing implementation-wise. Native drag events are pretty quirky.

[2018-01-14 21:00] knownasilya commented on #105
Yeah,  which is sad :(

[2018-01-16 08:37] lolmaus commented on #105
We're using this as a workaround until https://github.com/html-next/ember-hammertime/issues/31 is resolved and included into `ember-gestures`:

[code]

[2018-01-16 14:13] rwwagner90 commented on #105
I just released ember-hammertime 1.3.0, with configuration options that should allow us to disable these things. Is anyone interested in helping get this into ember-gestures and over the finish line, so we can fix this here?

[2018-01-30 20:02] Ritthjp opened #106 "aria-role"
aria-role="checkbox" is not a valid ARIA attribute.

Suggest using:
role="checkbox"
aria-checked="false"

`<div aria-owns="ember470-x-toggle" aria-role="checkbox" data-tg-on="Active Only" data-tg-off="All" id="x-toggle-visual-ember470-x-toggle" class="x-toggle-btn x-toggle-ios medium"> </div>`

[2018-01-30 20:40] knownasilya commented on #106
not invalid? Or is invalid?

[2018-01-31 14:46] Ritthjp commented on #106
Updated comment to "not a valid"

[2018-01-31 22:51] amexaCree opened #107 "Toggle does not switch when clicked on"
I installed this add-on to my ember project, however, when the toggle is clicked on it does not switch state. Instead one has to drag the toggle. However this is not how it is on the demo, you can click on it to change state. Is there something I'm missing?

[2018-01-31 23:09] knownasilya commented on #107
Did you setup an action and set the value on action trigger?

[2018-01-31 23:36] amexaCree commented on #107
Sorry not sure what you mean...
this is how I used it...
{{x-toggle value=testValue theme='material' onToggle=(action (mut testValue))}}
my action mutates the value to be toggled. It works if i drag the toggle button but nothing happens if I just click.

[2018-01-31 23:38] knownasilya commented on #107
What version of ember-toggle are you using?

[2018-01-31 23:41] amexaCree commented on #107
v5.2.1

[2018-01-31 23:52] knownasilya commented on #107
By any chance is it in some container that also handles the click?

[2018-02-01 00:09] amexaCree commented on #107
No, the container it is in does not handle the click.

[2018-02-01 00:49] amexaCree commented on #107
Maybe there's some dependencies I need to install..?

[2018-02-02 00:41] amexaCree commented on #107
I'm using it in another component, could that be the issue?

[2018-02-02 00:58] amexaCree commented on #107
Okay, I've discovered the issue. I had the div it was contained in handling another action. I guess it was interfering. I had to get rid of it. Thank you.

[2018-02-02 01:00] #107 closed

[2018-02-02 18:09] knownasilya commented on #107
👍

[2018-02-03 19:19] adambedford commented on #105
@rwwagner90 How do we get your fix into `ember-toggle` to resolve this issue?

[2018-02-04 01:56] rwwagner90 commented on #105
@adambedford I don't think anything needs to be done here. I think `ember-hammertime` is installed directly in your app via a blueprint, so you should just have to configure it.

[2018-02-16 07:13] adambedford commented on #105
Thank you @rwwagner90 Do you have guidance on what the `ember-hammertime` config should be to get rid of the inline styles for all other elements?

[2018-02-16 13:14] rwwagner90 commented on #105
@adambedford the configuration is documented in the README https://github.com/html-next/ember-hammertime#configuration

If anything is unclear, please let me know.

[2018-02-16 14:53] knownasilya commented on #105
So something like `touchActionSelectors: ['.x-toggle-component']`?

[2018-02-16 19:15] rwwagner90 commented on #105
@knownasilya that might work. All of the config options need to be set though. The default is to apply the styles to everything with an `action` all buttons, etc. and if we want to turn all that off, it needs to be something like:
[code]

[2018-02-20 01:47] adambedford commented on #105
I haven't been able to get this working. I tried the config suggested by @rwwagner90  and even installed `ember-hammertime` in my app directly (it doesn't seem to be installed by `ember-toggle` via blueprint, but is instead a dependency)

[2018-02-20 03:53] rwwagner90 commented on #105
@adambedford I thought we didn't have a direct dep on it here, but it appears I was wrong. We need to update the deps here to use `ember-hammertime` 1.3.0.

[2018-03-02 06:18] adambedford commented on #105
@knownasilya @rwwagner90 Has there been any progress on this by chance?

[2018-03-02 12:54] rwwagner90 commented on #105
@adambedford I just opened a PR to update ember-hammertime here.

[2018-03-18 02:13] adambedford commented on #105
I've updated to the master branch of this library and have the following configuration in `environment.js` but I'm still seeing the unwanted styles set on almost every element in my application

[code]

Any pointers on what I need to do to solve this?

[2018-03-18 12:39] knownasilya commented on #105
We might have to set this config in ember-toggle.. I'll give it a try tomorrow.

[2018-03-19 11:06] rwwagner90 commented on #105
@adambedford @knownasilya are we using the touch action mixin anywhere or just allowing the default behavior?

[2018-03-20 15:49] knownasilya commented on #105
@adambedford give master another try. I merged another version bump change.

[2018-03-20 15:50] knownasilya commented on #105
If that doesn't work, there might be some issue that doesn't propogate the config to the hammertime addon. We might make it an install "add npm package" feature instead of bundling together.

[2018-03-20 16:26] rwwagner90 commented on #105
@knownasilya I don't think the config is passed down because it's a nested dep. Definitely would like to explore how we might fix this.

[2018-03-20 16:40] adambedford commented on #105
Could the configuration simply be added to ember-toggle?

[2018-03-20 18:03] rwwagner90 commented on #105
@adambedford I don't think we want that. We want users to be able to change the ember-hammertime config directly.

[2018-04-02 15:54] ntgussoni opened #110 "Labels still trigger click action event even when disabled"
I've been testing this component and it's really nice.
However on disabled state, the labels still trigger the action.

I think it's an easy fix. Just checking if disabled=true inside sendToggle method
(https://github.com/knownasilya/ember-toggle/blob/master/addon/components/x-toggle/component.js)

What do you think?
#111

[2018-04-02 19:39] knownasilya commented on #110
Closed by #111 and released in v5.2.2

[2018-04-02 19:39] #110 closed

[2018-04-03 23:30] adambedford commented on #105
Fair enough. Any idea how we fix this?

[2018-04-18 23:07] knownasilya opened #112 "Move dummy app to use ember-cli-addon-docs"
See the initial work here: https://github.com/knownasilya/ember-toggle/tree/addon-docs

Converting the `application.hbs` content that is commented out to addon docs format is the next step.

[2018-04-18 23:11] #106 closed

[2018-04-19 00:53] ntgussoni commented on #100
I can help updating this to 3.0 if needed

[2018-04-19 01:28] knownasilya commented on #100
Go for it!

[2018-04-19 22:28] ntgussoni commented on #100
#113

[2018-04-20 11:16] #100 closed

[2018-05-12 07:22] kmichek opened #114 "Toggle name not passed to action"
Hi, I'm trying to get the toggle name in my action:

[code]

[code]

What am I doing wrong, please? Thanks!

[2018-05-12 07:57] lolmaus commented on #114
Not sure what's wrong with the addon, but there's a generic pattern that can be used universally in Ember:

[code]

[code]

[2018-05-12 08:02] kmichek commented on #114
That works great, thanks!

[2018-05-12 11:52] lolmaus commented on #114
@knownasilya We might want to reopen this in order to fix the initial issue or at least update the documentation.

[2018-05-12 18:58] knownasilya commented on #114
Good point @lolmaus

[2018-05-18 21:11] montanawolfe opened #115 "Update ember-gestures version to resolve ember-cli-babel deprecation warning"
Ember-gestures has been recently updated to resolve the ember-cli-babel deprecation warning. Please update the ember-gestures version accordingly.

[2018-05-19 00:14] knownasilya commented on #115
Feel free to submit a fix.

[2018-05-21 14:14] knownasilya commented on #115
Resolved in #116 and published as v5.2.3

[2018-05-21 14:14] #115 closed

[2018-05-21 14:28] knownasilya commented on #114
v5.2.4 should resolve this

[2018-05-21 14:28] #114 closed

[2018-07-31 19:18] knownasilya opened #117 "Show state in more toggles"
The skew and flip toggles have a state. It might be a good idea to add state to all of the toggles with the option to enable it (if it's not required for that toggle).

[2018-10-05 10:35] Willibaur opened #118 "A11Y error due to tabindex > 0"
Thanks for this awesome addon.

Below you will see an `A11Y` error related, it was catched by `ember-A11Y-testing` it seems an easy one to fix on :point_right: [x-toggle/component.js](https://github.com/knownasilya/ember-toggle/blob/d4468f2c6c1ac126edc0030a80a81d1d519c57b8/addon/components/x-toggle/component.js#L12)

![image](https://user-images.githubusercontent.com/12820932/46530759-b6a75480-c89

[2018-10-05 19:15] knownasilya commented on #118
Could probably just remove the tabindex all together and users can apply those as needed.

[2018-10-08 06:52] Willibaur commented on #118
I'm not sure, as a general A11Y rule, it should be `tabindex: 0`, so what about to set it to that value by default within the addon, but give the option to the user to modify as required @knownasilya like we do with `offLabel` property ?

[2018-10-08 20:21] knownasilya commented on #118
The user can already set it, e.g. `{{x-toggle tabindex='0'}}`

[2018-10-08 20:22] knownasilya commented on #118
I'll change it to '0'

[2018-10-08 20:22] #118 closed

[2018-10-09 08:04] Willibaur commented on #118
Thanks for the fix @knownasilya

[2018-10-11 22:59] knownasilya commented on #118
Released in 5.3.1

[2018-10-29 00:00] runspired opened #119 "Toggle does not work if placed within a <form {{action}}>"
[code]

[2018-10-29 00:07] runspired commented on #119
This can be worked around by using `<form onsubmit={{action "foo"}}>` directly and preventing the default form behavior manually.

For more complex things:

[code]

[2018-12-19 21:04] adambedford commented on #105
I wasn't able to dedicate any time to this unfortunately. Has anyone had a chance to make progress?

[2018-12-19 21:33] adambedford commented on #105
Here's a quick fix derived from @lolmaus above:

[code]

[2018-12-19 21:46] knownasilya commented on #105
I'll have a look soon. Thanks for bringing it up again.

[2018-12-21 22:16] knownasilya commented on #105
@rwwagner90 yeah, seems a bit overkill. Would have to add slide support manually though.

[2018-12-21 22:53] rwwagner90 commented on #105
@knownasilya is it not possible to use ember-gestures without ember-hammertime?

[2018-12-22 01:14] knownasilya commented on #105
Oh, totally not sure. This is the only experience I have with either.

[2018-12-22 03:42] knownasilya commented on #105
@adambedford give master a try. I've removed hammertime and it seems to have done the trick.
cc @rwwagner90

If it works for you, then I'll publish a release.

[2019-07-17 13:06] Redsandro opened #126 "Override toggle colors for specific buttons"
I'm curious if there's a better way than overriding the color values using custom css selectors and supplying a custom class name?

This is basically what I'm doing now:

[code]

[2019-07-17 13:17] knownasilya commented on #126
That looks correct, although I'd try to avoid the `!important`s. Is there any way that we could make it easier for you?

[2019-07-17 13:45] Redsandro commented on #126
If no one requested something like this before, I wouldn't spend time on it.

However I'm using color codes to toggle filters for certain labels, where _on_ is the color of the label and _off_ is grey. And it's nice. If you want to make this easier for others (and me), I would suggest something similar to `onLabel` and `offLabel`. E.g. `onClass`/`offClass` and/or `onStyle`/`offStyle`.

This way, o

[2019-07-17 13:49] knownasilya commented on #126
I like the idea of `onClass` and `offClass`, I'll keep this open for next time I'm working on improvements here. Thanks!

[2019-07-17 14:14] knownasilya commented on #119
I don't think this is a bug, because the first version should actually be

[code]
Even template-lint complains if that's not there.

[2019-07-17 15:32] Redsandro commented on #126
Great! I'll stay subscribed. If the time comes, I can update my css selectors.

[2019-10-31 08:36] #82 closed

[2020-01-15 12:30] raido opened #129 "v6.0.1 label tagName: '' update is a breaking change"
Recent v6.0.1 which converted label component to tagless component is kind of a breaking change.

See my comment on the commit:

https://github.com/knownasilya/ember-toggle/commit/0b9e39e525cff81894e364c6294c8527eeaa24fa#commitcomment-36809108

[2020-01-17 16:29] brandonbryant12 opened #130 "Theme is not displaying, only seeing checkbox"
Is there any css to import?
I cannot get themes to show up

[2020-01-17 17:57] knownasilya commented on #130
What does your config look like? https://github.com/knownasilya/ember-toggle#configuring specifically `includedThemes` and `defaultTheme`?

[2020-01-17 17:59] #129 closed

[2020-01-17 18:02] knownasilya commented on #129
Give v6.0.2 a try.

[2020-01-17 18:13] knownasilya commented on #130
If you didn't define `includedThemes`, all themes are included and the default is 'default'. The CSS should be automatically imported.

[2020-01-17 18:37] raido commented on #129
The change overall is nice but it turned out one other implicit behaviour had changed.

Before v6.0.1 label elements were always rendered even if contents itself were empty:

https://github.com/knownasilya/ember-toggle/commit/c1ad3ba5f70a3c55def011d1e27dc7850df0572d#diff-6b8cfae49a619d5b92f6b26f55cc03cfL1

After v6.0.1 things are wrapped in `if this.show` - which is the actual reason why tests in

[2020-01-17 19:00] raido commented on #129
Better "workaround" for my situation is actually to start specific name on elements:

[code]

And avoid using `data-test` attributes I guess?

For reference: https://github.com/knownasilya/ember-toggle/blob/master/addon/components/x-toggle-switch/template.hbs#L7

[2020-01-17 19:07] knownasilya commented on #129
This was the case, but I think was the wrong behavior.

This component is not tagless, so Ember applies the attributes automatically.

Might be worth documenting a basic test setup.

[2020-01-17 19:10] raido commented on #129
This correct but since none of the actions are bound to the outer switch `span` element but instead on input/label elements directly it's not use.

Triggering click on outer `span` has no effect.

[2020-01-17 19:18] knownasilya commented on #129
Yeah, understood, but for accessibility the span should not be clickable. On another note, if we added `...attributes` to the `label` since that's the visible clickable node, anything added will also be added to the base element, which is probably not what we want.

The real solution is to convert to Glimmer Components and set attributes only on the label. I'll probably be tackling that sometime i

[2020-01-17 19:19] raido commented on #129
Yes, that sounds like a proper solution.

[2020-02-05 18:22] knownasilya commented on #130
Did you get it working?

[2020-02-08 20:36] #130 closed

[2020-09-12 19:12] knownasilya opened #137 "Glimmer components"
Will require a major release.

[2020-09-25 17:54] knownasilya opened #138 "Replace hammerjs (pan support) with something lighter"
https://github.com/nickschot/ember-gesture-modifiers

Panning is used here https://github.com/knownasilya/ember-toggle/blob/master/addon/components/x-toggle-switch/template.hbs#L8 and the tests seem to have stopped working: https://github.com/knownasilya/ember-toggle/blob/master/tests/integration/components/x-toggle/component-test.js#L287 (not firing)

[2020-09-26 18:33] #119 closed

[2020-09-26 18:34] knownasilya opened #140 "Dark mode variants"
Add styles for dark mode variants of each theme, e.g. ios-dark

[2020-09-26 18:40] knownasilya opened #141 "Custom checkbox theme"
Something like https://codepen.io/Vestride/pen/dABHx

Use case is to keep checkbox consistent across browser/os

[2020-09-26 18:41] knownasilya commented on #140
This would be a good issue to introduce css vars, and use those to create the variants

[2020-09-26 19:41] sarbikbetal commented on #140
I want to work on this issue and I was thinking of using
[code]
along with css variables to automatically switch to dark theme, for example we can have `material-auto` along with `material-dark`, what do you say @knownasilya ?

[2020-09-27 14:47] knownasilya commented on #140
That sounds like a great way to handle it, go for it. Feel free to break it up into prs for each theme.

[2020-09-27 18:02] sarbikbetal commented on #140
Thanks you so I'll start working on it. Could you please assign this to me?

[2020-09-30 13:42] knownasilya opened #143 "Bootstrap 4 Theme"
Add https://gitbrent.github.io/bootstrap4-toggle/

[2020-09-30 17:12] NirajSrivastava18 commented on #143
Do you want all the toggles from that?

[2020-09-30 21:04] knownasilya commented on #143
Can probably start with the blue, and can figure out how we do variants of it later.

[2020-10-01 09:36] sarbikbetal commented on #140
Hey I'm working on it but to make the code cleaner I am using `ios dark` as the theme instead of `ios-dark` to handle the way you are returning the classes. Because using `ios-dark` means repeating the styling for `.x-toggle-ios-dark`, instead using `ios dark` will allow us to select the component using `.x-toggle-ios.dark` which means we can use the base styling from `.x-toggle-ios` and only add

[2020-10-01 14:04] knownasilya commented on #140
What about using a `@variant='dark'` which adds the additional class, so theme stays the same but you just add a variant.

[2020-10-01 22:04] sarbikbetal commented on #140
Yeah that works as well, I will change the code accordingly.

[2020-10-02 14:22] knownasilya commented on #140
Not bad, might tweak a bit for contrast, but that can happen later too.

[2020-10-02 20:20] sarbikbetal commented on #140
I've added a commit making the required changes. Let me know if there is anything more.

[2020-10-02 21:35] #140 closed

[2020-10-20 18:58] sergchernata opened #146 "Assertion Failed"
This error happens exclusively when I navigate away from a view that contains the toggle. Flipping the toggle works fine.

[2020-10-20 21:38] slovenlyimp opened #147 "Rendering errors in Ember 3.20"
I upgraded my application from Ember 2.18 to 3.20. Now, when transitioning away from the route that uses `{{x-toggle}}` causes a runtime error.
[code]
Linking the code in `master`, I get the error when entering the route.
[code]

[2020-10-21 00:29] knownasilya commented on #147
Duplicate of #146

[2020-10-21 00:29] #147 closed

[2020-10-21 12:36] rwjblue commented on #146
Seems like the same thing as https://github.com/emberjs/ember.js/issues/19192.

[2020-10-21 12:38] sergchernata commented on #146
Sure does, any ETA on the fix? @rwjblue

[2020-10-21 13:52] rwjblue commented on #146
Fix already landed in the latest betas, I'll be working on backporting for 3.22.1 release this week.

[2020-10-21 14:06] sergchernata commented on #146
@rwjblue Thank you, I appreciate it.

[2020-10-21 14:06] #146 closed

[2020-10-21 14:16] slovenlyimp commented on #147
For historical purposes, I agree this was a duplicate of https://github.com/knownasilya/ember-toggle/issues/146, I was using ember-cli@3.20, but had accidentally upgraded ember-source to 3.22.

[2020-10-21 15:33] knownasilya commented on #146
Btw we are removing ember-gestures from this addon, so it should work even in affected versions once released. @nickshot any chance you'll have time to work on those pointer gestures?

[2020-11-05 15:47] nickschot commented on #146
@knownasilya I have prepared a PR for ember-gesture-modifiers with PointerEvents support. https://github.com/nickschot/ember-gesture-modifiers/pull/16 Want to try it before I release it?

[2020-11-20 15:33] #138 closed

[2021-04-02 13:06] cah-briangantzler opened #150 "hasBlock deprecation"
[Babel: @embroider/macros > applyPatches]DEPRECATION: `hasBlock` is deprecated. Use `has-block` instead. ('ember-toggle/components/x-toggle-label/template.hbs' @ L8:C10)  [deprecation id: has-block-and-has-block-params] See https://emberjs.com/deprecations/v3.x#toc_has-block-and-has-block-params for more details.

[2021-04-02 15:07] knownasilya commented on #150
Should be fixed in 7.1.1

[2021-04-02 15:07] #150 closed

[2021-06-18 12:47] jeroen-hoekstra opened #158 "Ember Global deprecation warning due to old version of ember-cli-babel"
We get this deprecation warning after updating to "ember-source": "3.27.5"
We use "ember-toggle": "7.1.1"

[code]

[2021-09-14 19:31] hornetnz opened #161 "A11y for screen readers"
I'm using v5.3 and noticed that with voiceover on, its reading as "Group, 4 items. You are currently on a checkbox...". Our layout is using the toggles w/o the labels, so screen readers only see 'checkbox'.

- Is there some way to have it not read as "Group, 4 items"?
- Is there a way I can add a sr-only label?

[2021-09-14 19:41] knownasilya commented on #161
Should be able to use block mode https://github.com/knownasilya/ember-toggle/tree/v5.3.3#advanced-usage

[code]

Should work. Generally the internal id is generated, but since you aren't using any of the labels overwriting it might work.

[2021-09-15 13:34] hornetnz commented on #161
Ahh ok. I had read that part of the doc, but I guess it didn't click because there was no HTML in the example. Thanks :)

[2021-09-15 13:34] #161 closed

[2021-10-20 16:27] #137 closed

[2021-10-20 16:27] #158 closed

[2021-11-15 22:13] DavertMik opened #164 "Error: You must pass a function as the second argument to the `on` modifier, you passed undefined"
I just created a toggle in Ember 3.26.1

[code]
but when I toggle the action changes value but prints to the console:

[code]

While `this.model.artifactsSettings == {}`

I just installed ember-toggle so not sure if I'm missing something.

[2021-12-07 15:24] knownasilya opened #165 "Update tests hbs`` import"
Should be `import { hbs } from 'ember-cli-htmlbars';`

[2021-12-07 15:30] claeusdev commented on #165
@knownasilya i will pick this up

[2021-12-07 15:50] knownasilya commented on #164
Looks like it has something to do with `this.save`, which isn't in your code above. Seems unrelated.

[2021-12-07 16:05] claeusdev commented on #165
@knownasilya is it advisable to use `yarn` or `npm`? Asking this because `contributing.md` says `npm install` but project has a `yarn.lock` in root.

[2021-12-07 16:09] knownasilya commented on #165
yarn. Feel free to update contributing too.

[2021-12-07 16:10] claeusdev commented on #165
Alright. Sure

[2021-12-08 13:45] knownasilya commented on #165
Closed by https://github.com/knownasilya/ember-toggle/pull/166

[2021-12-08 13:45] #165 closed

[2022-01-13 00:45] #164 closed